node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Env files
.env
.env.local
backend/.env

# Python
__pycache__/
*.pyc
.venv/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
